    /* HOMEPAGE STYLES
------------------------------------------------ */

.sidenav {
    height: 100vh;
    width: 376px;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 10px 0 50px -2px #00000057;
    background-color: white;
    z-index: 99999;
}

.sidenav-inner{
    position: relative;
    height: 100%;
}

.sidenav ul {
    list-style: none;
    width: calc(100% - 80px);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.sidenav ul li {
        margin-bottom: 20px;
    text-align: right;
        -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    position: relative;
}

.sidenav ul li a:before{
position: absolute;
width: 100%;
height: 2px;
background-color: #bd993c;
left: 0;
bottom: -3px;
content: "";
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.sidenav ul li:hover:before{
    height: 5px;
    -webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.sidenav ul li .active a:before{
    height: 5px;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.sidenav ul li:hover {
        -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.sidenav ul li a {
    text-decoration: none;
font-family: 'Roboto Condensed', sans-serif;
  font-size : 21px;
  color : #BD993C;
    line-height: 39px;
    letter-spacing: 0.5px;
            -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.sidenav ul li a:hover{
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;    
    color: #046983;
}

.sidenav ul li a.active{
font-weight: 600;
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;  
}

.sidenav ul li a.active:before{
height: 5px;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;  
    }

.nav-logo img{
    display: block;
    width: 216px;
    height: auto;
}

.nav-logo{
    position: absolute;
    top: 80px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}



html {
    background-color: #F6F6F6;
}

#container {
    margin-left: 369px;
    padding-top: 0;
    background-color: #f6f6f6;
}
.content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

h1{
  font-weight : bold;
  font-size : 70px;
  color : #046983;
  color : rgb(4, 105, 131);
    font-family: 'Roboto Condensed', sans-serif;
        padding: 0;
    margin: 0;
}
h2{
  font-weight : bold;
  font-size : 40px;
  color : #BD993C;
  color : rgb(189, 153, 60);
    font-family: 'Roboto Condensed', sans-serif;
        padding: 0;
    margin: 0;
}
h3{
  font-weight : bold;
  font-size : 35px;
  line-height : 39px;
  color : #4D4D4D;
  color : rgb(77, 77, 77);
    font-family: 'Roboto Condensed', sans-serif;
        padding: 0;
    margin: 0;
}

p{
    font-family: 'Cabin', sans-serif;
    font-size: 18px;    
    margin: 0;
    padding: 0 0 15px 0;
    letter-spacing: 0.3px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
}

p:last-child{
    padding: 0;
}

p a{
color: #bd9939;
text-decoration: none;
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

p a:hover{
    color: #046983;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    }

.card-container {
    width: 100%;
    display: flex;
    padding-top: 70px;
}

.card {
    width: calc(33.33333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    background-color: #FFF;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    position: relative;
}

.card:after{
    position: absolute;
width: 100%;
height: 15px;
background-color: #046983;
left: 0;
top: 0px;
content: "";
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.card:nth-child(2):after{
    position: absolute;
width: 100%;
height: 15px;
background-color: #bd993c;
left: 0;
top: 0px;
content: "";
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}
#contact-us-page .card:nth-child(2):after{
    display: none;
}

.card:hover:after{
    height: 30px;
    -webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.card-content p {
padding: 0px 20px 45px 20px;
}

#contact-us-section .card-content p {
    padding: 0px;
    }

#contact-us-section h3{
padding-bottom: 15px;
}

#contact-us-section .card:last-child{
    width: calc(66.6666666% - 30px);
    height: auto;
    background-color: transparent;
}

.card img {
    display: block;
    margin: 0 auto;
    padding: 45px 0;
    max-width: 90px;
}


.full-width-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
padding: 45px 0;
margin-bottom: 90px;
margin-top: 90px;
}

#what-we-do .full-width-banner{
margin-top: 0 !important;
}

#content-2{
padding-bottom: 90px;
}

.full-width-banner.gold h1{
    color: #fff;
}

.gold{
    background-color: #bd993c;
}

.blue{
    background-color: #046983;
}

.full-width-banner.blue h1{
    color: #fff;
}

.info-card {
    font-size: 0px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 45px;
}

#content-3 .info-card{
margin-bottom: 60px;
}

#content-3 .info-card:last-child{
margin-bottom: 0;
}

.card-title {
    width: 40%;
    display: inline-block;
    color: white;

}


.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.full-size {
    width: 100%;
    height: 100%;
        padding: 70px 0 70px 0;
}

.card-title h3{
    color: #fff;
    padding: 0 15px 0 15px;
}

.box1{
    background-color: #046983;
}

.box2{
        background-color: #bd993c;
}

.box3{
    background-color: #046983;
}

.box1, .box2, .box3{
width: 100%;
}

.card-title .full-size{
height: auto; 
}

#content-2 .card-content{
position: relative;
}

#content-2 .card-content p{
    padding: 35px;
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.card-content{
    width: 70%;
    }
#bringing-quality-to-life  .card-content{
        width: 100%;
}

#contact-us-section  .card-content{
    width: 100%;
}
#careers-section  .card-content{
    width: 100%;
}


#bringing-quality-to-life{
padding-top: 90px;
}

#contact-us-page #container{
    padding-top: 90px;
    padding-bottom: 90px;
    height: calc(100vh - 180px);
    position: relative; 
}

#contact-us-section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto;
}

#contact-us-page .copyright{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.card-content .full-size{
padding: 0 !important;
background-color: #FFF;
}
.text-center {
    text-align: center;
}

.textbox {
    font-size: 16px;
    border-left: 10px solid goldenrod;
    background-color: white;
    height: 150px;
    width: calc(50% - 135px);
    padding: 45px;
}

#bringing-quality-to-life h1{
  padding-bottom: 45px !important;  
}

.no-pad{
    padding: 0;
}

#content-3{
padding-bottom: 90px;
}

#who-we-are{
padding-top: 90px;
padding-bottom: 90px;
background-color: #FFF !important;
padding-left: 10%;
padding-right: 10%;
position: relative;
}

.sub-header.gold{
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.sub-header-contain{
    width: 100%;
    position: absolute;
    left: 0;
}

.sub-header-space{
    height: 106px;
}

#content-4-header{
padding-bottom: 45px;
}

.management-contain{
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 45px 0; 
}

.management-box{
    width: 33.33333%;
    box-sizing: border-box;
    padding: 5px;
}

.management-box p b{
font-size: 20px;
}

.management-box h3{
padding-bottom: 15px;
}

.last.management-contain{
padding-top: 0 !important;
padding-bottom: 0;
}

.full-width-banner.footer{
background-color: #046983;
margin: 0;
padding: 90px 0 90px 0;
}

.full-width-banner.footer h1{
text-align: center;
font-size: 50px;
font-weight: 400;
color: #FFF;
}
a.full-width-banner.footer h1{
text-decoration: none !important;
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.full-width-banner.footer{
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.full-width-banner.footer:hover{
    background-color: #bd993c !important;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.full-width-banner.footer:hover h1{
    color: #4D4D4D;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    }

.full-width-banner.footer h1{
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
}

.full-width-banner.footer h1 span{
    font-weight: 600;
    }
.copyright .content{
padding: 15px 0;
text-align: center;
    }

    .copyright .content{
font-weight: 600;
            }

a{
text-decoration: none !important;
}

.menu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.menu-container p {
    font-size: 20px;
}
.menu-container a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #ff5252;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
}
.menu-container a:after {
    content: '';
    position: absolute;
    background: #ff5252;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: 0.35s ease;
}
.menu-container a:hover:after, .menu-container a:focus:after, .menu-container a:active:after {
    width: 100%;
}
.button_menu-container {
    right: 45px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}
.button_menu-container:hover {
    opacity: 0.7;
}
.button_menu-container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
}
.button_menu-container.active .middle {
    opacity: 0;
    background: #fff;
}
.button_menu-container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
}
.button_menu-container span {
    background: #046983;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}
.button_menu-container span:nth-of-type(2) {
    top: 11px;
}
.button_menu-container span:nth-of-type(3) {
    top: 22px;
}
.overlay {
    position: fixed;
    background: #046983f7;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(5) {
    animation-delay: 0.55s;
}
.overlay.open li:nth-of-type(6) {
    animation-delay: 0.6s;
}
.overlay nav {
    position: relative;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.35s;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
   }
    100% {
        opacity: 1;
        left: 0;
   }
}

.overlay ul li a:after{
    display: none !important;
}

.button_menu-container{
    display: none;
}

.sub-navigation ul{
margin: 0;
padding: 0;
list-style: none;
width: auto;
margin: 0;
padding: 0;
position: initial;
top: initial;
transform: none;
display: flex;
}

.sub-navigation{
bottom: 45px;
position: absolute;
top: initial;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}

.sub-navigation ul li a::before{
display: none;
}

.sub-navigation ul li:first-child{
padding-right: 15px;
}
.sub-navigation ul li:last-child{
    padding-left: 10px;
    }

.sub-navigation ul li a{
    font-size: 18px;
    line-height: 18px;
}

.sub-navigation ul li{
margin-bottom: 0;
}

#main-navigation li a:hover{
    color: #046983 !important;
}

.sub-navigation li a:hover{
    color: #046983 !important;
}

.sub-navigation ul li:first-child:before{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #bd993c;
    right: 0;
    content: "";
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

#contact-us-section .card:first-child .card-content {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#services-title{
    margin-top: 45px;
}

#contact-us-section .card:last-child .card-content{
    width: 100%;

}

#contact-us-section .card{
    height: 250px;
}

#careers-section .card{
width: 100%;
padding: 40px;
}

#careers-section .card .card-content p{
    padding: 0 !important;
padding-bottom: 10px !important;
    }

    #careers-section .card .card-content h3{
        font-size: 30px;
    }

    #careers-section{
        padding-top: 90px;
    }
    #careers-page footer{
        padding-top: 90px;
    }

    #main-form label{
    width: 50%;
    float: left;
    padding-bottom: 30px;
    }
    #main-form label#text-area{
        width: 100%;
        padding-bottom: 0px;
        }
    #submit-button{
    bottom: 0;
    left: 0;
    }
    #main-form label input{
        padding: 15px;
        font-size: 18px;
        width: calc(100% - 60px);
        font-family: 'Roboto Condensed', sans-serif;
        border: none;
        border-radius: 3px;
        height: 35px;
    }
    #main-form label input.full-width{
        width: calc(100% - 30px);
    }
    #main-form label textarea.full-width{
        width: calc(100% - 30px);
    }
    #main-form label textarea{
    width: calc(100% - 57px);
    padding: 15px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100px;
    border: none;
    border-radius: 3px;
    }

    #submit-button{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 22px;
        color: #FFF;
        line-height: 39px;
        letter-spacing: 0.5px;
        -webkit-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        border: none;
        background-color: #bd993c;
        padding: 10px 25px;
        margin-left: 332px;
        margin-top: 38px;
        border-radius: 3px;
    }

    #submit-button:hover{
        -webkit-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        background-color: #046983;
    }


    #back-to-home{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 22px;
        color: #FFF;
        line-height: 39px;
        letter-spacing: 0.5px;
        -webkit-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        border: none;
        background-color: #046983; 
        padding: 10px 25px;
        border-radius: 3px;  
    }

    #back-to-home:hover{
        -webkit-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        background-color: #bd993c;   
    }

    #careers-section .card-content li{
        font-family: 'Cabin', sans-serif;
        font-size: 18px;    
        margin: 0;
        padding: 0 0 15px 0;
        letter-spacing: 0.3px;
        line-height: 25px;
        -webkit-font-smoothing: antialiased;
    }

    #careers-section .card-content h3, #careers-section .card-content h2{
padding-bottom: 20px !important;
    }
    #careers-section .card-content h2{
        padding-top: 15px;
    }

    .g-recaptcha iframe{
        padding: 30px 0;
    }

    /* MEDIA QUERIES
------------------------------------------------ */
@media (max-width: 1600px){
.textbox {
    height: 210px;
}
}

@media (max-width: 1500px){
    #submit-button{
        margin-left: 0;
        margin-top: 136px;
    }
    }

@media (max-width: 1440px){
    .sidenav ul {
        width: calc(100% - 40px);
    }
    #lower-sub-nav ul{
    width: 100% !important;
    }

    h1{
        font-size: 48px;
        line-height: 58px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 24px;
        line-height: 34px;
    }
    .sidenav {
        width: 330px;
    }
    #container {
        margin-left: 330px;
    }
    p {
    font-size: 16px;
    }
    .card-title .full-size {
        padding: 120px 0 120px 0;
    }
    .textbox {
        height: auto;
}
}

@media (max-width: 1025px){

    #contact-us-page #contact-us-section{
        padding-top: 0px;
    }

    .nav-logo{
        display: inline-block;
    }

    .button_menu-container{
        display: block;
    }

    .textbox{
        height: auto;

    }
    
    .sidenav ul{
        display: none;
    }

    .overlay nav ul{
        display: block !important;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: none;
        position: relative;
        top: initial;
        right: 0;
    }

    .overlay ul li{
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 0 30px !important;
    text-align: center;
    }

    .sidenav {
        width: 100%;
        height: auto;
    }
    .nav-logo, .sidenav ul{
        position: relative;
        transform: none;
        top: inherit;
        left: inherit;
    }
    #container {
        margin-left: 0px;
        padding-top: 172px;
    }
    .sidenav ul{
    padding: 0;
    margin: 0;
    width: 100%;
    }
    .sidenav ul li a.active:before, .sidenav ul li a:before{
        display: none;
    }

    .sidenav ul li {
        margin: 0;
        margin-right: 15px;
    }
    .sidenav ul li:last-child{
        margin-right: 0 !important;
    }
    .sidenav-inner {
        padding: 45px;
    }
    .sidenav ul {
        position: absolute;
        right:  45px;
        width: auto;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .sidenav ul li:hover a{
        color: #dcb557 !important;
    }
    .content{
        width: 90%;
    }
    #who-we-are{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sub-header.gold{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #contact-us-page #container{
        padding-top: 172px;
        height: calc(100vh - 262px);
    }
    #contact-us-section {
        top: 57%;
    }
    #contact-us-section .card-container{
        padding-top: 45px;

    }
    
}

@media (max-width: 767px){
    #contact-us-page .copyright {
        bottom: 0px;
    }
    html, #contact-us-page{
        height: 100%;
    }
    #contact-us-page #container{
        height: 140vh !important;
        position: relative;
    }
    #contact-us-page #contact-us-section {
        padding-top: 160px;
        top: 0;
        transform: translate(-50%, 0%);
    }

    #contact-us-page #contact-us-section h1 {
        padding-top: 90px;
    }
    #careers-section .card{
        width: calc(100% - 80px);
    }

    #container {
        padding-top: 167px;
    }
    .nav-logo img{
        width: 200px;
    }
    .card-container {
        width: 100%;
        display: block;
    }
    .card{
        margin: 0;
        width: 100%;
        margin-bottom: 45px;
    }
    #contact-us-section .card:last-child{
        width: 100%;
        display: block; 
        height: auto;
        padding-bottom: 100px; 
    }
    .card:last-child{
        margin-bottom: 0;
    }
    .card img{
        max-width: 110px;
    }
    .info-card{
        display: block;
    }
    .card-title{
        width: 100%;
    }
    #content-2 .card-content p {
        padding: 35px;
        position: relative;
        top: inherit;
        left: inherit;
        margin-right: 0;
        transform: none;
}
#content-2 .card-content{
    width: 100%;
}
.textbox{
    width: calc(100% - 90px);
    height: auto;
    margin-bottom: 45px;
}
.textbox:last-child{
    margin-bottom: 0 !important;
}
.management-box {
    width: 100%;
    padding-bottom: 45px;
}
.management-contain{
padding-bottom: 0;
}
.last.management-contain .management-box:last-child{
    padding-bottom: 0;
}
}

@media (max-width: 600px){
    
    h3 {
        font-size: 27px;
        line-height: 34px;
    }

    .sidenav-inner {
        padding: 45px 25px;
    }
    .button_menu-container{
        right: 25px;
    }
    .overlay ul li a{
        font-size: 30px;
        line-height: 40px;
    }
    h1, .full-width-banner.footer h1{
        font-size: 35px;
        line-height: 45px;
    }
    p {
        font-size: 18px;
    }
}