<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aureum</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
</head>

<body>
    <div id="sidenav" class="sidenav">
        <div class="sidenav-inner">
        <a class="nav-logo" href="/" target="_self"><img  alt="Aureum Logo" src="assets/img/aureum-2020-logo.png" ></a>
        <ul>
            <li><a href="#">Bringing Quality to Life</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Who We Are</a></li>
        </ul>
        </div>
    </div>
    <div id="container">
        <div class="content" id="content-1">
            <h1>Bringing Quality to Life</h1>
            <p>Aureum offer a complete outsourcing solution for the manufacturing of medicinal cannabis extracts. Our services cover all aspects of contract manufacturing, from product formulation and production to primary and secondary packaging.</p>
            <p class="no-pad">Based in Denmark, Aureum is a European contract manufacturing organization, specialized in manufacturing of medicinal cannabis extracts.</p>

            <div class="card-container">
                <div class="card">
                    <img src="assets/img/aureum-icon1.png" alt="icon" class="icon">
                    <div class="card-content">
                        <p>We operate under the Danish legal framework for medicinal cannabis in compliance with Good
                            Manufacturing Practices
                            (GMP).</p>
                    </div>

                </div>
                <div class="card">
                    <img src="assets/img/aureum-icon2.png" alt="icon" class="icon">
                    <div class="card-content">

                        <p>We have all the expertise it takesto formulate and manufacture the product that your
                            organization requires.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/img/aureum-icon3.png" alt="icon" class="icon">
                    <div class="card-content">

                        <p>Our services are divided into three categories while the solutions are tailormade for your
                            specific purposes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width-banner gold">
            <div class="content">
                <h1>Contract Manufacturing of Medicinal Cannabis Extracts</h1>
            </div>
        </div>
        <div class="content" id="content-2">
            <div class="info-card">
                <div class="card-title">
                    <div class="flex full-size text-center box1">
                        <h3>Contract Processing</h3>
                    </div>
                </div>
                <div class="card-content">
                    <div class="flex full-size">
                        <p>Aureum offers contract processing of medicinal cannabis flower to licensed producers. As
                            your
                            outsourcing partner we
                            can extract and process raw material to meet your specific product requirements. Our
                            services
                            include all aspects of
                            contract manufacturing, from development of analytical methods, formulation, and processing
                            to
                            primary and secondary
                            packaging.</p>
                    </div>
                </div>
            </div>
            
            <div class="info-card">
                <div class="card-title">
                    <div class="flex full-size text-center box2">
                        <h3>White Label</h3>
                    </div>
                </div>
                <div class="card-content">
                    <div class="flex full-size">
                        <p>Our white label service is a one-stop-shop solution, covering all aspects from sourcing of
                            raw material, product
                            formulation, processing, and packaging. As your outsourcing partner, we are supporting each
                            step from prototype
                            development and product registration to pilot batches and large-scale manufacturing.</p>
                    </div>
                </div>
            </div>
            
            <div class="info-card">
                <div class="card-title">
                    <div class="flex full-size text-center box3">
                        <h3>Active Pharmaceutical Ingredient</h3>
                    </div>
                </div>
                <div class="card-content">
                    <div class="flex full-size">
                        <p>We offer consistent supply of extracted cannabinoids in any quantity and format required.
                            Whether it is for R&D purposes
                            or further downstream processing we can tailor the solution to meet your organizations
                            specific requirements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width-banner">
            <div class="content">
                <h2>What We Do</h2>
            </div>
        </div>
        <div class="content" id="content-3">
            <div class="info-card">
                <div class="textbox flex">
                    <p>Aureum A/S is a Danish-based contract manufacturing organization founded in December 2018.</p>
                </div>
                <div class="textbox flex">
                    <p>We provide contract processing services, white label products and API to the medicinal cannabis
                        industry.</p>
                </div>

            </div>
        </div>
    </div>
</body>

</html>